.App-header {
  text-align: center;
  padding: 20px;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #ffffff;
  border: none;
}

.nav-button.active {
  background-color: #e74c3c;
}
